body{
    background-color:rgb(154, 201, 224);
}
.mapdiv{
    width:28%;
    margin:auto;
}
.mapdiv path{
    fill:#b6b627;
    stroke:#08060a;
    stroke-width: 0.5px;
    stroke-width: 1.2px;
}
path:hover{
    fill:#ffff00;
    stroke:black;
    stroke-width: 3px;
    transition: fill 0.4s;
}
